<!-- Horizontal Form -->
<div class="box box-info">
    <?php echo $this->element('boxOptionHeader', array('btitle' => 'ACL Management System')); ?>
    <?php
    echo $this->Form->create('Search', array(
        'class' => 'form-horizontal',
        'inputDefaults' => array(
            'format' => array('before', 'label', 'between', 'input', 'error', 'after'),
            'div' => array('class' => 'col-sm-6 form-group'),
            'class' => array('form-control'),
            'label' => array('class' => 'col-sm-3 control-label'),
            'between' => '<div class="col-sm-9">',
            'after' => '</div>',
            'error' => array('attributes' => array('wrap' => 'span', 'class' => 'help-inline')),
    )));
    ?>
    <div class="box-body">
        <?php echo $this->Form->input('sys_controller_id', array('options' => $sysControllers, 'id' => 'sysControllerId')); ?>
        <?php echo $this->Form->input('sys_action_id', array('options' => $sysActions, 'disabled' => true, 'id' => 'SysActionId')); ?>
        <?php echo $this->Form->input('user_id', array('options' => $users)); ?>
        <?php echo $this->Form->input('role_id', array('options' => $roles)); ?>
        <?php echo $this->Form->input('status', array('options' => $this->Zicure->mainStatus())); ?>
    </div>

    <div class="box-footer">
        <?php echo $this->Permission->link_submit('<i class="fa fa-search"></i>' . __('Search'), '/SysAcls/index/', array('div' => false, 'label' => false, 'name' => 'btnsubmit')); ?>
        <?php echo $this->Permission->link_button('<i class="fa fa-plus"></i>' . __("Add Data"), "/SysAcls/add/"); ?>
    </div><!-- /.box-footer -->
    <?php echo $this->Form->end(); ?>
</div><!-- /.box -->
<script type="text/javascript">
    $(function () {
        $("#sysControllerId").change(function () {
            getSystemActionListBySystemControllerId();
        });
    });
</script>