<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <?php echo $this->Zicure->leftAccountInfo(); ?>
        <ul class="sidebar-menu">
            <li class="header"><?php echo __('MAIN NAVIGATION'); ?></li>
            <!-- Load Dynamic Menu -->

            <a href="#">
                <i class="fa fa-angle-left pull-right">
                    <a href="/Menus/index"><i class="fa fa-circle-o"></i> จัดการข้อมูล เมนู </a>
                </i>
                <i class="fa fa-angle-left pull-right">

                    <a href="/StrategicManeuvers/index"> <i class="fa fa-circle-o"></i> จัดทำโครงสร้างหลัก </a>
                </i>
            </a>

            <?php  echo @$menuListHtml; ?>
        </ul>
    </section><!-- /.sidebar -->
</aside>