<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-left">
            <div class="logo-box">
                <a href="/"><img alt="" src="/img/oac-logo.png"></a>
            </div>
        </div>

<!--        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li style="color:#FFF; padding: 12px;">
                    ปีงบประมาณ                         </li>
                <li>
                    <div class="dropdown" id="switch-year">


                        <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn btn-default dropdown-toggle">
                            2559                                    <span class="caret"></span>
                        </button>
                        <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="/Home/switchYear/12">2561</a></li>
                            <li role="presentation"><a href="/Home/switchYear/10">2560</a></li>
                            <li role="presentation"><a href="/Home/switchYear/9">2559</a></li>
                            <li role="presentation"><a href="/Home/switchYear/1">2558</a></li>
                            <li role="presentation"><a href="/Home/switchYear/3">2557</a></li>
                            <li role="presentation"><a href="/Home/switchYear/5">2556</a></li>
                        </ul>
                    </div>
                </li>
                <li style="color:#FFF; padding: 12px;">05 05 สปช.ทบ ผู้ดูแลระบบ</li>
                <li><a href="/logout">ออกจากระบบ</a></li>
            </ul>
        </div>-->
    </div>
</nav>