.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 10px 0;
    padding: 10px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.ui-pakgon-text-error{color:#f00;font-size:1em;font-weight:bold;padding-left:10px;}
.ui-pakgon-input-error{color:#000 !important;}
.alert-dialog-responsive{margin: 0 auto;max-width: 840px;min-width: 250px;width: 80% !important;left: 0 !important;right: 0 !important;}
.img-responsive {
    margin: 0 auto;
}
td.actions{
    text-align: center;
    width: 13%;
}
td.actions a{margin-right: 10px;}
div.submit input[type='submit'],div.submit input[type='button'],div.submit button{margin-right: 10px;}
dl {
    width: 90%;
    background: #eee; /* blue spaces */
}
dl dd {
    display: inline;
    margin: 0;
    padding-left: 8px;
}
dl dd:after{
    display: block;
    content: '';
}
dl dt{
    display: inline-block;
    background: #A4A4A4;
    min-width: 20%;
    padding-top: 10px;
    padding-left: 3px;
}
dl dt:nth-of-type(even){
    background: #DDDDDD;
}
#loading-indicator {
    /*    position: absolute;
        left:50%;
        top:50%;
        color:navy;
        text-align:center;
        width:100px;
        opacity: 0.5;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;*/
    /*    position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        background-color: black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;*/
    background-position: center center;
    background-repeat: no-repeat;
    /*    border-radius: 50%;  Rounds out the halo */
    /*    opacity: .7;  Some subtle opacity to help blend with variable background colors */
    z-index: 999;
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;

    /*    color:navy;
        text-align:center;*/
}
#loading-indicator img{
    position: absolute;
    width: 120px;
    left:50%;
    top:50%;
}
div.alert span{
    font-weight: bold;

}
div.alert span i{
    margin-right: 20px;
}
i.fa{margin-right:10px;}
.row-button{margin-bottom: 20px;margin-top: 20px;}
.btn-add-item{}

/*.navbar-inverse {
    background: #68713a url("/img/top-bg.jpg") repeat scroll 0 0;
    padding: 10px 0;
}*/


/*
--------------------------------------------------------------------------------------------------------------
Add new from Our source
add by sarawutt.b
since 20160411
*/
.btn-sp {
    background-color: #68713a;
    border-color: #68713a;
}
.login-bg {
    background-image:url("/img/bg.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-size: cover;
    position:absolute;
    width:100%;
    height:100%;
}
.login-space{
    height:80px;
}
.box-filter{
    margin-bottom: 10px;
    margin-left: 50px;
}
.logo-name{
    display:table;
    margin:0px auto;
}
.logo-name img{
    /*  width:500px;*/
    width:60%;
    object-fit:contain;
}
.login-row{
    /*  width:450px;*/
    width:50%;
    display:table;
    margin:20px auto;
}
.login-box-bg{
    background-color:#474e22;
    border-radius:10px;
    border:1px solid #6a7a18;
    padding:10px;
    color:#FFF;
    line-height:30px;
}
.login-box-bg button{
    display:table;
    margin:20px auto 10px auto;
}
.btn-transparent{
    border: 0;
    background: none;
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.nav > li > a:link,
.nav > li > a:visited {
    color:#68713a;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
}
.nav-sidebar  li {
    /*    padding-right: 20px;
        padding-left: 35px;
    */    color:#FFF;
    background-color:#3B3C3F;
    /*width:202px;*/
}
.nav-sidebar > li > a{
    position: relative;
    /* left: -35px; */
    padding-left: 35px;
    background-image: url("/img/folder.png");
    background-repeat: no-repeat;
    background-position: 10px 9px;
    margin: 5px 0px;
    color: #fff;
    padding: 5px 0px 5px 35px !important;
    background-color: #EFEFEF;
}
.nav-sidebar > .active > a,.nav-sidebar > .active > a:link,.nav-sidebar > .active > a:visited,.nav-sidebar > .active > a:hover,.nav-sidebar > .active > a:focus {color: #fff;background-color: #68713a;}
.navbar-fixed-top {}
.navbar-inverse{background-color:#68713a;border-color:none;}
.navbar-brand :link,
.navbar-brand :visited{color:#FFF;text-decoration:none;padding:0px 10px;}
.navbar-brand :hover{color:#FF0;}
.navbar-right{margin-top:20px;}
.navbar-inverse .navbar-nav>li>a:link,.navbar-inverse .navbar-nav>li>a:visited{color:#FFF;}
.navbar-inverse .navbar-nav>li>a:hover{color:#FF0;}
.logo-box{display:inline-block;}
.logo-box img{height:50px;width: 200px;object-fit:contain;}
.profile-img{width: 80%;}
table.table-short-information thead tr:first-child,table.table-add-details thead tr:first-child,table.table-view-related thead tr:first-child{background-color: rgb(207, 207, 207);}
table.table-form-view tr th:first-child{width: 25%;}
.notfound{font-weight: bold;color: #f00;}
table tr td.nindex,table tr td.nindex-black,table tr th.nindex,table tr th.nindex-black{width: 5%;text-align: center;}
table tr th.nindex{color: #3c8dbc;}
table tr th.nindex-black{color:#333;}
button.separate-button,a.separate-button{margin-left: 10px;}
div.permission-lists div.icheckbox_minimal{margin: 0 10px 0 2px;}
.table-form-view tr th{background-color: rgb(207, 207, 207);}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.money, .thai-money,text-right{text-align: right !important;}
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    -moz-border-radius:8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

legend {
    width: auto !important;
    border: none;
    font-size: 14px;
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    margin-bottom: 0;
    border-radius: 0.9em;
}
legend:after{
    content:"\000A";
    white-space: pre;
}
input[type='text'].money-right{
    text-align: right !important;
}
.circle-icon {
    background: #ffc0c0;
    padding:30px;
    border-radius: 50%;
}
.icon-background {
    color: #c0ffc0;
}
.icon-background-danger{
    color:#D33724;
}
.icon-background-primary{
    color:#357CA5;
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}
.unit{margin: 10px;}
.budget-summary{background-color: #CFCFCF !important;color: 000;font-weight: bold;}
.activity-details{width: 25%;}
.rpt-row-header{
    background-color: #CFCFCF !important;
}
.rpt-row-budgetyear{
    background-color: #367FA9 !important;
}
.rpt-row-activity{
    background-color: #F39C12 !important;
}
.rpt-row-progress{
    background-color: green !important; 
}

div.checkbox-table-striped:nth-of-type(odd),div.checkbox-table-striped:nth-of-type(even){padding: 8px;}
div.checkbox-table-striped:nth-of-type(odd){background-color: #F9F9F9;}
/*div.checkbox-table-striped:nth-of-type(even){background-color: #F9F9F9;}*/
td.main-status,th.main-status{width: 20px !important;background-color: #f00;}
.hr-progress{border-color: black;}