<?php
App::import('Helper', 'Form');
$Form = new FormHelper(new View(null));
?>
<div class="box box-warning">
    <div class="box-header">
        <h3 class="box-title"><?php echo __("System ACLs (Add ACLs)") . ' <p class="label label-success">' . $this->Zicure->getRoleNameById($role_id) . '</p>'; ?></h3>
        <?php echo $this->Permission->link_button(__('Back'), '/SysAcls/add/acl', NULL, array('class' => 'btn-default pull-right separate-button')); ?>
        <?php echo $this->Permission->button_option('<i class="fa fa-plus"></i>' . __("Add Cotrollers"), "/SysControllers/add/", NULL, array('class' => 'bg-orange btn-flat pull-right')); ?>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable table-add-details" role="grid">
                        <thead>
                            <tr role="row">
                                <th><?php echo __('Controllers / Actions available.'); ?></th>
                                <th>&nbsp;</th>
                                <th><?php echo __('Controllers / Actions permission allow.'); ?></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr role="row">
                                <td>
                                    <?php
                                    $total_available_menu = count($available_menus);
                                    if (!empty($available_menus)) :
                                        echo $Form->create('SysAcl', array('url' => "/SysAcls/add_permission/{$role_id}", 'name' => 'frmSystemACL', 'id' => 'frmSystemACL'));
                                        echo $Form->input('role_id', array('type' => 'hidden', 'value' => $role_id));
                                        echo $Form->input('caction', array('type' => 'select', 'multiple' => 'checkbox', 'options' => $controllers_packages, 'class' => 'permission-lists acl-permission checkbox-table-striped', 'label' => false, 'div' => false));
                                        echo $Form->end();
                                    endif;
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    $total_already_acl = count($completed_controlpackages);
                                    $total_available_menu = ($total_available_menu > $total_already_acl) ? $total_available_menu : $total_already_acl;

//                                        if (($total_available_menu % 2) == 1) {
//                                            $middle_position = ceil($total_available_menu / 2);
//                                        } else {
//                                            //$middle_position = $total_available_menu;
//                                            $middle_position = ceil($total_available_menu / 2);
//                                        }
                                    $middle_position = ceil($total_available_menu / 2);
                                    if ($total_available_menu > 40) {
                                        for ($i = 1; $i <= $total_available_menu; $i++) {
                                            if (($i == 1) || ($i == $middle_position) || ($i == $total_available_menu)) {
                                                echo $Form->submit('===>>>', array('class' => 'btn btn-success', 'onclick' => 'submitfrmSystemACL()', 'div' => 'text-center', 'id' => 'btnSystemACL', 'name' => 'btnSystemACL'));
                                                echo "<br/><br/>";
                                                echo $Form->submit("<<<===", array('class' => 'btn btn-danger', 'onclick' => 'submitfrmUserACL()', 'div' => 'text-center', 'id' => 'btnUserACL', 'name' => 'btnUserACL'));
                                            } else {
                                                echo "<br/><br/>";
                                            }
                                        }
                                    } else {
                                        echo $Form->submit("===>>>", array('class' => 'btn btn-success', 'onclick' => 'submitfrmSystemACL()', 'div' => 'text-center', 'id' => 'btnSystemACL', 'name' => 'btnSystemACL'));
                                        echo "<br/><br/>";
                                        echo $Form->submit("<<<===", array('class' => 'btn btn-danger', 'onclick' => 'submitfrmUserACL()', 'div' => 'text-center', 'id' => 'btnUserACL', 'name' => 'btnUserACL'));
                                    }
                                    ?>

                                </td>   
                                <td>

                                    <?php
                                    $completed = count($completed_controlpackages);
                                    if (!empty($completed_controlpackages)) :
                                        echo $Form->create('SysAcl', array('url' => "/SysAcls/detete_bath/{$role_id}", 'name' => 'frmUserACL', 'id' => 'frmUserACL'));
                                        echo $Form->input('role_id', array('type' => 'hidden', 'value' => $role_id));
                                        echo $Form->input('completedaction', array('type' => 'select', 'multiple' => 'checkbox', 'options' => $completed_controlpackages, 'class' => 'permission-lists acl-permission checkbox-table-striped', 'label' => false, 'div' => false));
                                        echo $Form->end();
                                    endif;
                                    ?>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <?php echo $Form->button($this->Bootstrap->icon('fa-plus', 'Add Permission'), array('class' => 'btn btn-success', 'onclick' => 'submitfrmSystemACL()', 'div' => false, 'id' => 'btnsubmitSystemACL', 'name' => 'btnsubmitSystemACL')); ?>
            <?php echo $Form->button($this->Bootstrap->icon('fa-trash', 'Delete Permission'), array('class' => 'btn btn-danger pull-right', 'onclick' => 'submitfrmUserACL()', 'div' => false, 'id' => 'btnsubmitUserACL', 'name' => 'btnsubmitUserACL')); ?>
        </div><!-- /.box-footer -->
    </div>
</div>
<script type="text/javascript">

    function submitfrmSystemACL() {
        $("#frmSystemACL").submit();
    }
    function submitfrmUserACL() {
        $("#frmUserACL").submit();
    }
    $(function () {
//        $("input:checkbox:first").click(function () {
//            $('input:checkbox').each(function (index) {
//                $(this).prop('checked', $("input:checkbox:first").prop('checked'));
//            });
//        });


        $("input[name~='data[SysAcl][caction][]']").on('ifChanged', function (event) {
            console.log($(this).prop('checked'));
            var tmpCheck = ($(this).prop('checked') == true) ? 'check' : 'uncheck';
            var tmpVal = $(this).val();
//            alert (tmpVal);
            if (tmpVal == '') {
                $("input[name~='data[SysAcl][caction][]']").iCheck(tmpCheck);
            }
        });

        $("input[name~='data[SysAcl][completedaction][]']").on('ifChanged', function (event) {
            console.log($(this).prop('checked'));
            var tmpCheck = ($(this).prop('checked') == true) ? 'check' : 'uncheck';
            var tmpVal = $(this).val();
//            alert (tmpVal);
            if (tmpVal == '') {
                $("input[name~='data[SysAcl][completedaction][]']").iCheck(tmpCheck);
            }
        });
    });
</script>